LITESTREAM_TEMPLATE=s3
LITESTREAM_DB_FILE=/app/data/kuma.db
LITESTREAM_S3_ENDPOINT=yourbucket.minio.tld
LITESTREAM_S3_REGION=foobar
LITESTREAM_S3_BUCKET=foobar
LITESTREAM_S3_PATH=foobar
LITESTREAM_S3_ACCESS_KEY_ID=foobar
LITESTREAM_S3_SECRET_ACCESS_KEY=foobarbaz
LITESTREAM_RETENTION=24h
LITESTREAM_RETENTION_CHECK_INTERVAL=1h
LITESTREAM_SNAPSHOT_INTERVAL=10s
LITESTREAM_SYNC_INTERVAL=1s
LITESTREAM_VALIDATION_INTERVAL=12h
